.header {
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;

  &__logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 170px;
      height: auto;
      object-fit: cover;
    }

    &--collapsed {
      width: 80px;

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    &__left {
      display: flex;
      font-size: 25px;
      padding-left: 40px;

    }

    &__right {
      margin-right: 40px;
    }
  }

  &__collapse {
    margin-right: 30px;
    font-size: 30px;
    background-color: transparent;
    border: transparent;
  }
}

.body {
  flex: 1 0 auto;

  &__sider {
    width: 80px;
    background-color: #fff;

    &--collapsed {
      background-color: #fff;
    }

  }

  &__content {
    padding: 40px;
  }
}

.footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  background-color: navy;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}